.hold-still{
    background-color: green;
    display:grid;
    height: 100vh;
    width: 100vw;
    color: white;
    place-content: center;
}
.ready{
    background-color: yellow;
    display:grid;
    height: 100vh;
    width: 100vw;
    color: black;
    place-content: center;
}
.fail{
    background-color: red;
    display:grid;
    height: 100vh;
    width: 100vw;
    color: white;
    place-content: center;
}