.button-container {
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: row;
  height: 20vh;
}
button {
  height: 100%;
  width: 50vw;
  color:white;
  background-color: black;
  font-size: 3rem;
}
