.button-container {
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: row;
  height: 20vh;
}
button {
  cursor: pointer;
  height: 100%;
  width: 50vw;
  color:white;
  background-color: black;
  font-size: 3rem;
}
.display-text{
  display:grid;
  place-content: center;
  position: absolute;
  margin: auto;
  bottom: 10vh;
  padding-left: 28vw;
  font-size: 2rem;
}
